.chatContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: none;
  border-radius: 0;
  width: 100vw;
  margin: 4px;
}

.chatHeader h1 {
  font-size: 34px;
  font-weight: bold;
  color: #008cff;
  text-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

.roomName {
  margin-left: 10px;
}

.chatForm {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  /* background-color: black; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatInput {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  background: transparent;
}

.chatInput:hover,
.chatInput:focus {
  border: 1px solid #faf4e4;
}

.sendButton {
  color: #008cff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.5s ease;
}

.sendButton:hover {
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

.messageList {
  z-index: 997;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.sender {
  font-weight: bold;
  margin-right: 10px;
  /* padding: 2px 6px; */
  border-radius: 4px;
  display: inline-block;
}

.text {
  color: #fff;
  flex: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;
}

.username {
  margin: 0 20px 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #008cff;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.leaveButton {
  z-index: 999;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ff0800;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #ff0800;
  transition: 0.5s ease;
  user-select: none;
}

.copyButton {
  z-index: 999;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #008cff;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #008cff;
  transition: 0.5s ease;
  user-select: none;
}

.leaveButton:hover,
.leaveButton:focus {
  color: #ffffff;
  background: #ff0800;
  border: 1px solid #ff0800;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ff0800, 0 0 20px #ff0800, 0 0 50px #ff0800,
    0 0 100px #ff0800;
}

.copyButton:hover,
.copyButton:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
}

@media (max-width: 767px) {
  .username {
    display: none;
  }
  .message {
    flex-direction: column;
  }
  .messageList {
    max-height: calc(100vh - 220px);
  }
}
