.chatContainer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: none;
  border-radius: 0;
}

.chatHeader h1 {
  font-size: 34px;
  font-weight: bold;
  margin: 0;
  color: #d3a121;
}

.chatForm {
  z-index: 999;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: black; */
  border-top: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatInput {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  color: black;
}

.chatInput:hover,
.chatInput:focus {
  border: 1px solid #faf4e4;
  background-color: #f2f2f2;
}

.sendButton {
  background-color: #d3a121;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.sendButton:hover {
  background-color: #97700d;
}

.messageList {
  z-index: 997;
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: first baseline;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: pre-wrap;
}

.sender {
  font-weight: bold;
  margin-right: 10px;
  color: #f2e6c4;
}

.text {
  color: #fff;
  flex: 1;
  white-space: pre-wrap;
}

.username {
  margin: 0 10px 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f1e7c9;
}

.meteorEffect {
  z-index: -999;
}
